<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script>
        function photos() {
            fetch("http://localhost:8082/photos", {
                method: "GET",
                headers: {
                    Authorization: "Bearer " + localStorage.getItem("access_token")
                }
            })
                .then(response => {
                    response.json().then(function (data) {
                        for (const prop in data) {
                            document.querySelector("#remotePhotos").append(data[prop].userId);
                            document.querySelector("#remotePhotos").append(data[prop].photoId);
                            document.querySelector("#remotePhotos").append(data[prop].photoTitle);
                            document.querySelector("#remotePhotos").append(data[prop].photoDescription);
                            document.querySelector("#remotePhotos").append(document.createElement('br'));
                        }
                    })
                })
        }


        function myInfo() {
            fetch("http://localhost:8082/myInfo", {
                method: "GET",
                headers: {
                    Authorization: "Bearer " + localStorage.getItem("access_token")
                }
            })
                .then(response => {
                    response.json().then(function (data) {
                        let photos = data["photos"];
                        let friends = data["friends"];
                        for (let i = 0; i < photos.length; i++) {
                            document.querySelector("#albums").append(photos[i].photoId);
                            document.querySelector("#albums").append(photos[i].userId);
                            document.querySelector("#albums").append(photos[i].photoTitle);
                            document.querySelector("#albums").append(photos[i].photoDescription);
                            document.querySelector("#albums").append(document.createElement('br'));
                        }

                        for (let i = 0; i < friends.length; i++) {
                            document.querySelector("#friends").append(friends[i].name);
                            document.querySelector("#friends").append(friends[i].age);
                            document.querySelector("#friends").append(friends[i].gender);
                            document.querySelector("#friends").append(document.createElement('br'));
                        }
                    })
                })
                .catch((error) => console.log("error:", error));
        }

        function tokenExpire() {
            fetch("/tokenExpire?token=" + localStorage.getItem("access_token"),
                {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json",
                    },
                })
                .then(response => {
                    response.json().then(function (data) {
                        fetch("/newAccessToken",
                            {
                                method: "GET",
                                headers: {
                                    "Content-Type": "application/json",
                                },
                            })
                            .then(response => {
                                response.json().then(function (data) {
                                    console.log("text 안에 데이터 = " + data.tokenValue);
                                    window.localStorage.setItem("access_token", data.tokenValue);
                                    location.href = "/home";
                                })
                            })
                            .catch((error) => console.log("error:", error));
                    })
                })
                .catch((error) => console.log("error:", error));
        }

    </script>
</head>
<body>
<div>Welcome</div>
<div sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></div>
<form action="#">
    <p><input type="button" onclick="photos()" value="Photos"/>
    <p><input type="button" onclick="myInfo()" value="MyInfo"/>
    <p><input type="button" onclick="tokenExpire()" value="tokenExpire"/>
</form>
<div id="photos"></div>
<p></p>
<div id="remotePhotos"></div>

</p>
<div id="albums"></div>

<p></p>
<div id="friends"></div>
</body>
</html>