<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
    <script>
        /*function photos(){
            fetch("http://localhost:8082/photos",{
                method : "POST",
                headers : {
                    Authorization : "Bearer "+ localStorage.getItem("access_token")
                }
            })
                .then(response => {
                    response.json().then(function(data){
                        for(var prop in data) {
                            document.querySelector("#photos").innerHTML = data[prop];
                        }
                    })
                })
        }*/

        function photos(){
            fetch("http://localhost:8081/photos",{
                method : "POST",
                headers : {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    token: localStorage.getItem("access_token")
                })
            })
                .then(response => {
                    response.json().then(function(data){
                        for(var prop in data) {
                            document.querySelector("#photos").innerHTML = data[prop];
                        }
                    })
                })
        }

    </script>
</head>
<body>
<div>Welcome</div>
<div sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></div>
<form action="#">
    <p><input type="button" onclick="photos()" value="사진 가져오기" />
</form>
<div id="photos">

</div>
</body>
</html>