<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>

        const xhr = new XMLHttpRequest();
        const url = 'http://localhost:8081/api/users';

        function corsTest() {
            if (xhr) {
                xhr.open('GET', url, true);
                xhr.setRequestHeader("Content-Type", "'text/xml");
                xhr.onreadystatechange = resultHandler;
                xhr.send();
            }
        }

        function resultHandler(data){
            console.log(data)
        }

    </script>
</head>
<body>
<button name="corsTest" onclick="corsTest()">corsTest</button>
</body>
</html>