<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>

        function corsTest(){
            fetch("http://localhost:8081/api/users",{
                method : "GET",
                headers : {
                    "Content-Type" : "text/xml",
                }
            })
                .then(response => {
                    response.json().then(function(data){
                        console.log(data)
                    })
                })
        }

    </script>
</head>
<body>
<button name="corsTest" onclick="corsTest()">corsTest</button>
</body>
</html>