<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<div><p>OAuth2.0 Client</p></div>
<div sec:authorize="isAnonymous()">
    <a th:href="@{/oauth2/authorization/keycloak}">keycloak 로그인</a></br>
    <a th:href="@{/oauth2/authorization/google}">구글 로그인</a></br>
    <a th:href="@{/oauth2/authorization/naver}">네이버 로그인</a></br>
</div>
<div sec:authorize="isAuthenticated()"><a th:href="@{/home}">Home 으로</a></div>
</body>
</html>